.li-nav{
    display: inline-block;
    background-color: black;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 5px;
    
}

.link-nav{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.ul-nav{
    background-color: black;
    margin-top: 0px;
    width: 100%;
    padding: 0;
    text-align: center;
}

.li-nav:hover{
    background-color: rgb(40, 40, 40);
}